---
---
@import "{{ site.theme }}";

.outer-container {
    display: table;
    width: 100%;
    height: 100%; 
}
.sidenav {
    display: table-cell;
	width: 30%;
	vertical-align: top;
    padding-top: 50px;
    padding-right: 30px;
    padding-bottom: 50px;
    padding-left: 80px;
}

.page-content {
    display: table-cell;
	width: 70%;
	vertical-align: top;
}

html, body {
    height: 100%;
    width: 100%;
  }

div {
    height: 100%;
    /* ... */
  }